@charset "UTF-8";
* {
	padding:0;
	margin:0;
}
* ul {
	list-style: none;
}

header{
	width:1280px;
	height:50px;
	margin:20px auto;
	color:white;
	padding-left:20px;
	background:linear-gradient(to right,#5d99c6,white);
}
#wrap{
	width:1300px;
	height:700px;
	margin:auto;
	display: flex;
}

aside{
	width:200px;
	height: 100%;
	overflow:auto;
}
::-webkit-scrollbar { display: none; }

#memberlist li{
	width:180px;
	height:30px;
	background-color:#90caf9;
	color:white;
	text-align : center;
	padding-top:10px;

}


#memberlist li:hover{
	width:180px;
	height:30px;
	background-color:#5d99c6;
	color:white;
	text-align: center;
	padding-top:10px;

}

#container {
	width:1000px;
	margin: auto;
}

#map {
	width:1000px;
	height:500px;
}

#buttonarea {	
	width:100%;
	margin:50px 0 20px 0;
}

#menu {
	width:100%;
	height:100%;
	display:flex;
	justify-content: space-between;	
}

#menu li {
	width:100px;
	height:100px;
	
}
/*
#menu li input{
	width:100%;
	height:60%;
	border: 2px solid #34495e;
	background-color:white;
	color: #34495e;

}
*/
#menu li input{

	width:100%;
	height:60%;
	border: none;
	background-color:#5d99c6;
	color:#fff;
	position:relative;
  }
 
  #menu li input:hover{
	background-color:#90caf9;
	color:white;
  }

#distancebutton{
	display:flex;
	justify-content: space-between;
	margin:20px 0; 
  }

#dis {
	background-color:#5d99c6;
	border:2px solid #5d99c6;
	color:#fff;
	width:100px;
	height:50px;
}

#dis:hover{
	background-color:#90caf9;
	border:2px solid #90caf9;
	color:#fff;

  }
.dtext {
	background-color:white;
	color:#5d99c6;
	border:2px solid #5d99c6;
	box-sizing: border-box;
	width:300px;
	height:50px;
	padding-left:20px;
	border-radius: 3px;
}

#result{
	height:100px;
}